body {
    margin-top: 10%;
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 4%;

}

.contact{
    margin-top: 4%;
}

.contact .info {
     background: linear-gradient(to right, rgb(97, 144, 247),rgba(255, 145, 0, 0.79));
    border-top: 35px solid #4779e4;
    border-bottom: 3px solid #4779e4;
        padding: 30px;
    border-radius: 50px;
    background: #fff;
    width: 100%;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
}
/*.petshops{
    color: transparent;
        text-shadow: 0 0 5px #ffcccc, 0 0 10px #ff6666, 0 0 15px #2b5fd9;
}*/
.contact .info i {
    font-size: 20px;
    color: #4779e4;
    float: left;
    width: 44px;
    height: 44px;
    background: #e7f5fb;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #37517e;
}

.contact .info p {
    padding: 0 0 10px 60px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #6182ba;
}

.contact .info .email p {
    padding-top: 5px;
}


.contact .info .social-links a:hover {
    background: #4779e4;
    color: #fff;
}



.contact .email-form {
    width: 100%;
    border-top: 35px solid #4779e4;
    border-bottom: 3px solid #4779e4;
    border-radius: 45px;
    padding: 30px;
    background: #fff;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.section-header {
    text-align: center;
    padding-bottom: 40px;
}

.section-header h1 {
    font-size: 19px;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0;
    color: #4154f1;
    text-transform: uppercase;
}

.section-header p {
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 38px;
    line-height: 42px;
    font-weight: 700;
    color: #012970;
}

@media (max-width: 768px) {
    .section-header p {
        font-size: 28px;
        line-height: 32px;
    }
}

.input-field {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 10px 0 10px;
}

.input {
    height: 45px;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    margin-bottom: 20px;
    color: #40414a;
}

#password1 {
    margin-bottom: 20px;
}

.submit {
    border: none;
    outline: none;
    height: 45px;
    width: 50%;
    margin-left: 25%;
    background: hsla(228, 100%, 95%, 0.712);
    border: 2px solid rgb(87, 129, 254);
    border-radius: 50px;
    transition: 0.4s;
    color: rgb(87, 129, 254);
    font-weight: bold;
}

.submit:hover {
    background: rgb(87, 129, 254);
    color: #fff9f9;
}
.signin{
    margin-top: 4%;
    text-align: center;

}

span a {
    text-decoration: none;
    font-weight: 700;
    color: #ed6809d3;
    transition: 0.5s;
}

span a:hover {
    text-decoration: underline;
    color: #1f2222;
}.right {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 30px;

}.input-box {
    width: 330px;
    box-sizing: border-box;
}.input-box .input-field label {
    position: absolute;
    top: 10px;
    left: 10px;
    pointer-events: none;
    transition: 0.5s;
}

.input-field input:focus~label {
    top: -10px;
    font-size: 13px;
}

.input-field input:valid~label {
    top: -10px;
    font-size: 13px;
    color: #5d5076;
}