<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
/>

<footer id="footer" style="background-color: rgb(106, 124, 225)" class="footer">
  <div class="footer-top" style="background-color: aliceblue">
    <div
      class="container shadow"
      style="padding-top: 44px; background-color: rgba(246, 246, 246, 0.68)"
    >
      <div class="row gy-4">
        <div class="col-lg-6 col-md-12 footer-info">
          <a href="index.html" class="logo d-flex align-items-center">
            <img src="assets/img/logo.png" alt="" />

            <span>PETSHOPS</span>
          </a>
          <p style="margin-top: 28px">
            <i
              class="fa fa-arrow-right"
              style="color: rgba(250, 183, 145, 0.984)"
            ></i>
            Votre destination de choix pour tout ce qui concerne les animaux de
            compagnie ! Nous offrons une gamme complète de produits et services
            de qualité supérieure pour répondre à tous vos besoins en matière de
            soins pour animaux. Avec une équipe passionnée et compétente, nous
            sommes là pour vous fournir des conseils d'experts et des
            orientations afin d'assurer le bien-être optimal de vos compagnons
            bien-aimés.
          </p>
          <div class="social-links mt-3">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>LIENS</h4>
          <ul>
            <li>
              <i class="bi bi-chevron-right"></i>
              <a routerLink="/client/acceuil-client">Acceuil</a>
            </li>
            <li>
              <i class="bi bi-chevron-right"></i>
              <a routerLink="/client/apropos-client">A propos</a>
            </li>
            <li>
              <i class="bi bi-chevron-right"></i>
              <a routerLink="/client/categories-client">Categories</a>
            </li>
            <li>
              <i class="bi bi-chevron-right"></i>
              <a routerLink="/client/specials-client">Animaux spéciaux</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center">
          <h4>Contact</h4>

          <strong>Telephone </strong>
          <p class="contactfooter">+33 6298878999</p>

          <strong>Email</strong>
          <p class="contactfooter" style="padding: 2px">petshops66@gmail.com</p>
        </div>
        <div
          class="col-lg-1 col-md-12 footer-contact text-center text-md-start"
        >
          <!-- Github -->
          <div>
            <a role="button">
              <img
                src="../../../assets/images/git-logo.png"
                alt=""
                style="width: 32px; height: 32px"
              />
            </a>
            <!-- Facebook -->
            <a role="button">
              <img
                src="../../../assets/images/facebook-logo.png"
                alt=""
                style="width: 50px; height: 49px"
              />
            </a>

            <!-- insta -->
            <a role="button">
              <img
                src="../../../assets/images/instagram-logo.png"
                alt=""
                style="width: 30px; height: 30px"
              />
            </a>
            <!-- Linkedin -->
            <a role="button">
              <img
                src="../../../assets/images/linkedin-logo.png"
                alt=""
                style="width: 40px; height: 40px"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright" style="font-size: 17px">
      © 2024 Copyright by PetShops ,
      <a
        routerLink="/termes-conditions"
        style="cursor: pointer; color: rgba(250, 183, 145, 0.984)"
        target="_blank"
      >
        <B>termes & condition générales</B></a
      >
    </div>
  </div>
</footer>
