<!-- ======= Contact Section ======= -->
<body>
  <section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <header class="section-header">
          <h1>Contact</h1>
          <p>Nous Sommes Là Pour Vous! </p>
        </header>
      </div>

      <div class="row">
        <div class="col-lg-5 d-flex align-items-stretch">
          <div class="info">
            <div class="email">
              <i class="fa fa-envelope"></i>
              <h4>Email:</h4>
              <p>petshops66@gmail.com</p>
            </div>

            <div class="phone">
              <i class="fa fa-phone"></i>
              <h4>Telephone:</h4>
              <p>+33 765445677456</p>
            </div>

            <img
              src="../../../assets/images/image-contacter-nous.jpg"
              style="width: 100%"
              alt=""
            />
          </div>
        </div>

        <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
          <div method="post" role="form" class="email-form">
            <div class="row">
              <div class="form-group col-md-6">
                <label for="name">Nom Complet</label>
                <input
                  [(ngModel)]="infos_contact.nomComplet"
                  type="text"
                  class="form-control"
                  id="name"
                  placeholder="Nom-Complet"
                  required
                />
              </div>
              <div class="form-group col-md-6">
                <label for="name"> Email</label>
                <input
                  type="email"
                  class="form-control"
                  [(ngModel)]="infos_contact.email"
                  placeholder="exemple@gmail.com"
                  id="email"
                  required
                />
              </div>
            </div>
            <div class="form-group">
              <label for="name">Telephone</label>
              <input
                type="number"
                class="form-control"
               [(ngModel)]="infos_contact.telephone"

                placeholder="06XXXXXXXXX"
                id="subject"
                required
              />
            </div>
            <div class="form-group">
              <label for="name">Message</label>
              <textarea
                class="form-control"
                name="message"
                placeholder="Message..."
                rows="10"
                required
               [(ngModel)]="infos_contact.message"

              ></textarea>
            </div>
            <div class="text-center">
              <button type="submit" (click)="email_envoye()">Envoyer</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Section -->
</body>
