<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
/>
<body  >
  <section id="about" class="about" >
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h2>A propos</h2>
        <p style="font-size: 30px; margin-bottom: 10px">
          Votre Destination Pour l'Amour des Animaux et Leurs Accessoires
        </p>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <img
            src="../../../assets/images/image-apropos-img1.jpg"
            class="img-fluid rounded-4 mb-4"
            alt=""
          />
          <p>
            Chez PetShop, nous comprenons l'importance de choisir le compagnon
            parfait pour enrichir votre vie. C'est pourquoi nous mettons à votre
            disposition une sélection soigneusement choisie de chiots et de
            chatons, issus des meilleurs éleveurs et élevés avec amour et soin.
            Que vous recherchiez un adorable bouledogue français, un joueur
            labrador retriever, un chaton espiègle ou toute autre race, nous
            avons le compagnon idéal qui attend de vous rencontrer.
          </p>
          <p>
            nous croyons en la création de liens indéfectibles entre les humains
            et les animaux. Rejoignez-nous dans notre mission de créer des
            familles heureuses et des vies comblées de bonheur avec nos amis à
            quatre pattes. Venez découvrir l'amour inconditionnel à PetShop dès
            aujourd'hui !
          </p>
        </div>
        <div class="col-lg-6">
          <div class="content ps-0 ps-lg-5">
            <p class="fst-italic">
              Bienvenue chez PetShop, votre destination ultime pour tous les
              amoureux des animaux ! Nous sommes fiers de vous offrir une
              expérience incomparable dans le monde des chiens et des chats,
              ainsi que tout ce dont ils ont besoin pour être heureux et en
              bonne santé.
            </p>
            <ul>
              <li>
                <i
                  class="fa fa-check-circle"
                  style="color: rgb(93, 187, 193)"
                ></i>
                Engagement envers le bien-être animal
              </li>
              <li>
                <i
                  class="fa fa-check-circle"
                  style="color: rgb(93, 187, 193)"
                ></i>
                Large gamme d'accessoires
              </li>
              <li>
                <i
                  class="fa fa-check-circle"
                  style="color: rgb(93, 187, 193)"
                ></i>
                Expertise et conseils
              </li>
              <li>
                <i
                  class="fa fa-check-circle"
                  style="color: rgb(93, 187, 193)"
                ></i>
                Sélection de qualité
              </li>
            </ul>
            <p>
              Notre équipe passionnée est là pour vous guider à chaque étape de
              votre parcours avec votre animal de compagnie, que ce soit pour
              choisir le bon compagnon, trouver les accessoires adaptés ou
              obtenir des conseils d'experts sur les soins et l'entretien.
            </p>

            <div class="position-relative mt-4">
              <img
                src="../../../assets/images/image-apropos-img2.jpg" style="border-radius: 50px;"
                class="img-fluid rounded-4"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End About Us Section -->
</body>
