<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
/>
<body>
  <header
    class="section-header"
    style="display: flex; align-items: center; justify-content: center;"
  >
    <img
      src="../../../assets/images/images-condition.jpg"
      style="width: 188px"
      alt=""
    />
    <p style="margin: 0">Termes et Conditions Générales</p>
  </header>
  <div class="card col-12" style="margin-top: -7%;">
    <div class="card-body">
      <h6 class="card-title">
        <i class="fa fa-circle-check" style="color: rgb(81, 81, 252)"></i>
        <strong> Utilisation du Site : </strong>En accédant et en utilisant le
        site PetShop, vous acceptez pleinement et sans réserve les présentes
        conditions générales.
      </h6>
      <h6 class="card-title">
        <i class="fa fa-circle-check" style="color: rgb(81, 81, 252)"></i>
        <strong> Achats : </strong>
        Les achats de chiens, de chats et d'accessoires sur PetShop sont soumis
        à disponibilité. Les prix affichés sur le site sont sujets à changement
        sans préavis. Toute transaction effectuée sur le site est définitive.
      </h6>
      <h6 class="card-title">
        <i class="fa fa-circle-check" style="color: rgb(81, 81, 252)"></i>
        <strong> Politique de Retour et de Remboursement : </strong>

        Les retours et remboursements sont acceptés dans les 30 jours suivant
        l'achat, sous réserve de certaines conditions. Les frais de retour sont
        à la charge du client, sauf en cas de produit défectueux ou endommagé.
      </h6>
      <h6 class="card-title">
        <i class="fa fa-circle-check" style="color: rgb(81, 81, 252)"></i>
        <strong> Politique de Confidentialité : </strong>

        Les informations personnelles fournies par les utilisateurs sont
        traitées conformément à notre politique de confidentialité. Nous ne
        partagerons pas vos informations personnelles avec des tiers sans votre
        consentement.
      </h6>
      <h6 class="card-title">
        <i class="fa fa-circle-check" style="color: rgb(81, 81, 252)"></i>
        <strong> Responsabilité : </strong>

        PetShop décline toute responsabilité pour tout dommage direct ou
        indirect découlant de l'utilisation du site. Nous nous réservons le
        droit de suspendre ou de mettre fin à tout compte utilisateur en cas de
        violation des conditions d'utilisation.
      </h6>
      <h6 class="card-title">
        <i class="fa fa-circle-check" style="color: rgb(81, 81, 252)"></i>
        <strong> Propriété Intellectuelle : </strong>
        Tout le contenu présent sur le site, y compris les images, les textes et
        les logos, est la propriété exclusive de PetShop ou de ses partenaires
        et est protégé par les lois sur la propriété intellectuelle.
      </h6>
      <h6 class="card-title">
        <i class="fa fa-circle-check" style="color: rgb(81, 81, 252)"></i>
        <strong> Modification des Conditions : </strong>
        PetShop se réserve le droit de modifier les présentes conditions
        générales à tout moment. Les utilisateurs seront informés de toute
        modification via le site.
      </h6>
      <h6 class="card-title">
        <i class="fa fa-circle-check" style="color: rgb(81, 81, 252)"></i>
        <strong> Lois Applicables : </strong>
        Les présentes conditions générales sont régies et interprétées
        conformément aux lois en vigueur dans votre juridiction.
      </h6>
      <h6 class="card-title">
        <i class="fa fa-circle-check" style="color: rgb(81, 81, 252)"></i>
        <strong> Contact :</strong>
         Pour toute question ou préoccupation concernant les présentes
        conditions générales, veuillez nous contacter à [petshops66@gmail.com].
      </h6>
    </div>
  </div>
</body>
